@import '/src/styles/colors.scss';

.card_heading {
    color: $resource-card-job-title;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
    /* 150% */
}

.card_desc {
    color: $card-transparent-desc;

    /* Text sm/Regular */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    /* 142.857% */
}


.tag {
    padding: 0.125rem 0.5rem;
    color: $tag-grey-text;
    text-align: center;
    background-color: $white;
    border-radius: 0.375rem;
    border: 1px solid $start-background-border;
    /* Text sm/Medium */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
}

.card_job_title_heading {
    color: $resource-card-title;
    /* Text lg/Medium */
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    /* 155.556% */
}

.card_company_heading {
    color: $tag-grey-text;
    /* Text md/Regular */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.24rem;
    /* 150% */
}