$background-overlay: rgba(0, 0, 0, 0.6);
$primary: #2f54eb;
$white: #fff;
$text-color: #434343;
$desc-text: #1c1c1e;
$border: #d9d9d9;
$hover-border-color: #4570b5;
$grey: #00000040;
$geek-blue: #f0f5ff;
$light-grey-background: #fafafa;
$black: #000000d9;
$light-text: #00000073;
$input-grey-background: #f5f5f5;
$shadow: #00000005;
$dark-black: #1c1c1e;
$light-black: #1c1c1eb8;
$background-color: #00000099;
$border-color: #d9d9d9;
$scrollbar-thumb: #7b9fdc;
$scrollbar-light: #acc0e7;
$scrollbar-dark: #8cafea;
$scrollbar-track: #cedaf4;
$image-box: #ff4d4f;
$busy: #ff0000;
$vacation: #808080;
$completed: #008000;
$available: #0000ff;
$steric: #ff4d4f;
$light-green: #f6ffed;
$border-green: #b7eb8f;
$background-grey: #fafafa;
$light-red: #ffcccb;
$light-shadow: #5958581a;
$slate: #f1f5f9;
$chat-bg-sent: #DFEAFB;
$chat-bg: #F4F4F5;
$text-disabled: #616161;
$light-blue: #B1D8FC;
$border-disabled: #DEDEDE;
$card-background-grey: #F6F6F6;
$card-background: #E1D7FB;
$card-background-white: #F2F2F2;
$card-background-grey: #F6F6F6;
$tag-grey-border: #EAECF0;
$tag-grey-background: #F9FAFB;
$tag-grey-text: #344054;
$tag-green-border: #ABEFC6;
$tag-green-background: #ECFDF3;
$tag-green-text: #067647;
$tag-blue-border: #B9E6FE;
$tag-blue-background: #F0F9FF;
$tag-blue-text: #026AA2;
$card-transparent-desc: #1D2939;
$resource-card-job-title: #475467;
$start-background-border: #D0D5DD;
$resource-card-title: #101828;
$resource-card-job-title: #475467;
$warning-text: #B54708;
$warning: #FFFAEB;
$card-label: #616161;
$skills-blue-bg: "#E6F4FF";
$skills-blue-border: #91CAFF;