@import "~bootstrap/scss/bootstrap";
@import "/src/styles/colors.scss";



.meet_icon {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 10rem;
}

.table_action_buttons {
    color: $primary;
    cursor: pointer;
    text-decoration: underline; // Optional for making links look like buttons

    &:hover {
        text-decoration: none; // Remove underline on hover, if desired
    }
}

.editActionButton {
    font-size: 1.2rem;
    color: $light-black;
}