.line_chart_heading{
    font-family: Inter;
    font-size: 1.5rem; 
    font-weight: 700; 
    line-height: 1.75rem; 
    text-align: left;
}

.img_styles {
    width: 1.5;
    height: 1.5rem;
}

.card_number {
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: left;
}