@import "~bootstrap/scss/bootstrap";
@import "/src/styles/colors.scss";

.table-action-buttons {
  color: $primary;
  cursor: pointer;
  text-decoration: underline; // Optional for making links look like buttons
  &:hover {
    text-decoration: none; // Remove underline on hover, if desired
  }
}